<h1>Among us</h1>
<p>Among Us is a multiplayer game that was released in 2018. It is a game of teamwork and betrayal. The game is set in a spaceship where players are divided into two groups: Crewmates and Impostors. The Crewmates must complete tasks around the ship while the Impostors try to sabotage theirrails
